.change_language {
    background-color: black;
}
.language_date {
    padding: 2rem 5rem;
    text-align: left;
}
.change_language h1 {
    font-weight: 400;
    color: #ffffff;
    margin: auto;
    padding: 5rem 0;
    text-align: center;
}
.last_date {
    font-size: 1rem;
}
.devices {
    font-weight: 600;
}
.terms_list span {
    font-weight: 700;
    font-size: 1rem;
}
